<div class="row">
  <div class="col-lg-12" style="text-align:center">
    <h1>Editing project</h1>
  </div>
</div>

<%= render 'form', project: @project %>

<div class="row" style="text-align:right">
  <%= link_to 'Back', @project, :class => "btn btn-warning" %>
</div>
