/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

.center {
  text-align: center;
}

.bottom {
  margin-bottom: 10px;
}

A {
  color: #000000;
}

A:visited {
  color: #000d51;
}

A:active {
  color: #ffff00;
}

A:hover {
  color: #000000;
  background: #92d6d6
}

TABLE {
  border-collapse: collapse;
  border: 1px solid #000;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border: 1px solid #000000;
}

th {
  text-align: center;
}